@import url(https://fonts.googleapis.com/css?family=Cookie|Raleway:300,700,400);
*{
	box-sizing: border-box;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	background: url("../kuvat/taustakuva.jpg") center no-repeat ;
	height: 100%;
	background-size: cover;
	color: #333;
	font-family: 'Raleway', sans-serif;
}

.container{	
	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
	display: block;
	min-width: 600px;
	max-width: 600px;
	height: auto;
	min-height: 600px;
	overflow: hidden;
	
	-webkit-transform: translate(50%, 50%);
	-ms-transform: translate(50%, 50%);
	transform: translate(0, 0);
	
	padding: 2em;
	position: absolute;
	top: 10%;
	margin-left: 30%;
	width: 98%;
}

.container:before{
	background: url("../kuvat/taustakuva.jpg") center no-repeat;
	background-size: cover;
	content: '';
	filter: blur(10px);
	height: 200vh;
	position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100vw;
}

.container:after{
	background: rgba(255,255,255,0.6);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	width: 100%;
}

button.edellinen{
    background: rgba(255,255,255,0.25);
	border: 1px solid #333;
	line-height: 1em;
	padding: 0.5em 0.5em;
	top: auto;
	margin-left: -100px;
	position: absolute;
}

button.seuraava{
    background: rgba(255,255,255,0.25);
	border: 1px solid #333;
	line-height: 1em;
	padding: 0.5em 0.5em;
	top: auto;
	position: absolute;
}

button.submit{
	background: rgba(255,255,255,0.25);
	border: 1px solid #333;
	line-height: 1em;
	padding: 0.5em 0.5em;
	top: auto;
	position: absolute;
}

form label{
	border-bottom: none;
	display: block;
	font-size: 15px;
	margin-bottom: 0.5em;
}

form label.col-two-half{
	float: none;
	width: 100%;
}

/*form label.col-two-half:nth-of-type(even){
	border-left: 1px solid #333;
	padding-left: 0.25em;
}*/

p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
}

h1{
	font-size: 2.5em;
	margin: 0 0 0.2em 0;
	text-align: center;
	font-family: 'Cookie', cursive;
}
h1 img{
	height: auto;
	margin: 0 auto;
	max-width: 190px;
	width: 150%;
}
html{
	height: 150%;
}

.text-center{
	text-align: center;
}

input[type="text"]{
	font-size: 13px;
	border: none;
	border-bottom: 1px solid black;
	background: none;
	line-height: 1em;
	font-weight: 300;
	padding: 0.125em 0.25em;
	width: 100%;
}

input[type=radio]{
	margin-right: 3px;
	border: 0px;
	height: 10px;
	align-self: auto;
}

input[type=checkbox]{
	margin-right: 5px;
	border: 0px;
	height: 10px;
	align-self: auto;
}

input["questionName"] {
	font-size: 50px;
}
